<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codefirst.safer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/msuperman2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.KillVirusActivity">

        </activity>
        <activity android:name=".activity.ConnectActivity">

        </activity>
        <activity android:name=".activity.SettingActivity">

        </activity>
        <activity android:name=".activity.Lancher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>